<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iamjpsharma.upipaymentlib">


    <application>
        <activity
            android:name="com.iamjpsharma.upipaymentlib.ui.PaymentUiActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
    </application>
</manifest>
